@model AuthorDetailsViewModel

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="@Model.PictureUrl" alt="..." height="500" width="500" />
            </div>
            <div class="col-md-6">
                <h2 class="display-5 fw-bolder">@Model.Name</h2>
                <div class="fs-5 mb-5">
                </div>
                <p>Date of birth: @Model.DateOfBirth</p>
                <span>Details:</span>
                <p>@Model.Details</p>

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (@UserManager.GetUserAsync(User).Result.AuthorId == Model.Id || User.IsAdmin())
                    {
                        <a class="btn btn-dark" asp-controller="Authors" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                }

            </div>
        </div>
    </div>
</section>

<div class="row">
    <partial name="_BooksGridPartial" model="Model.Books" />
</div>