@model IEnumerable<BookGridViewModel>

    <h2>Review new books</h2>

    <div class="row pt-4">
        @foreach(var book in Model)
        {
        <div class="col-md-6 col-lg-2 mb-5">
            <a asp-controller="Books" asp-action="Details" asp-area="" asp-route-id="@book.Id">
                <div class="card h-100">
                    <img src="@book.CoverUrl" alt="..." />
                    <div class="card-body p-3">
                        <div class="text-center">
                            <h6 class="mb-2">@book.Title</h6>
                            <p class="bottom-0 mt-2">@book.Author</p>
                        </div>
                    </div>
                </div>
            </a>
            <p class="text-center">
                <a class="btn btn-success" asp-controller="Admin" asp-action="AcceptBook" asp-area="Admin" asp-route-id="@book.Id">Accept</a>
                <a class="btn btn-danger" asp-controller="Admin" asp-action="DenyBook" asp-area="Admin" asp-route-id="@book.Id">Deny</a>
            </p>
        </div>
        }
    </div>
    