@model UserProfileViewModel

@inject SignInManager<User> SignInManager

<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6 text-center">
                <h2 class="display-5 fw-bolder">@Model.Username</h2>
                <img class="mb-5 mt-4 mb-md-0" src="@Model.ProfilePictureUrl" alt="..." height="250" width="250" />

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.Id() == Model.Id)
                    {
                        <div class="text-center">
                            <a asp-controller="Users" asp-action="ChangeProfilePicture" asp-route-id="@Model.Id" class="mt-3">Change profile picture</a>
                        </div>
                    }
                }

            </div>
            <div class="col text-center">
                <div>
                    <a style="font-size: 4em" asp-controller="Reviews" asp-action="UserReviews" asp-route-id="@Model.Id">Reviews</a>
                </div>
                <div>
                    <a style="font-size: 4em" asp-controller="Lists" asp-action="UserLists" asp-route-id="@Model.Id">Lists</a>
                </div>

                @if (Model.AuthorId != null)
                {
                    <div>
                        <a style="text-decoration:solid; font-size: 4em" asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId">Author page</a>
                    </div>

                }

            </div>
        </div>
    </div>
</section>
