@model AllReviewsViewModel

@inject SignInManager<User> SignInManager

@if (!Model.Reviews.Any())
{
    <div class="d-flex justify-content-center pt-5 pb-5">
        <h2>No reviews yet!</h2>
    </div>
}
else
{
    foreach (var review in Model.Reviews.OrderByDescending(r => r.DateAdded))
    {
        <div class="row mb-4" style="border:ridge">
            <img class="ml-2 mt-2 mb-2" src="@review.Book.CoverURL" alt="..." height="150" width="100" />
            <div class="mb-3 mt-3 ml-3">
                <a asp-controller="Books" asp-action="Details" asp-route-id="@review.BookId" class="display-5 fw-bolder">@review.Book.Title</a>
                <span class="text-decoration-line-through">by</span>
                <a asp-controller="Authors" asp-action="Details" asp-route-id="@review.Book.AuthorId">@review.Book.Author.Name</a>
                <p class="mt-2">
                    @review.User.UserName rated it

                    @for (int i = 1; i <= review.Stars; i++)
                    {
                        <i class="bi bi-star-fill"></i>
                    }
                    @for (int i = 1; i <= 5 - review.Stars; i++)
                    {
                        <i class="bi bi-star"></i>
                    }  

                </p>

                @if (@review.Text != null)
                {
                    <p>@review.Text</p>
                }

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.Id() == review.UserId || User.IsAdmin())
                    {
                        <p>
                            <a class="btn btn-warning" asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id">Edit</a>
                            <a class="btn btn-danger" asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id">Delete</a>
                        </p>
                    }
                }

            </div>
        </div>
    }
}